/* Fonts */
@font-face {
    font-family: Source Sans Pro;
    src: url(../fonts/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: Dosis;
    src: url(../fonts/Dosis-VariableFont_wght.ttf);
}

@font-face {
    font-family: Source Sans Pro-Bold;
    src: url(../fonts/SourceSansPro-Bold.otf);
}

/* End of Fonts */

/* NavBar */
.bgNavBar {
    background-color: #000324;
    top: 0;
}

.fontNavBar {
    color: #FFFFFF;
    font-family: Dosis;
    font-size: 20px;
    opacity: 1;
}

.fontNavBar:hover {
    border: 2px solid #E5FEFF;
    color: #FFFFFF;
}

.fontNavBar:visited {
    color: #FFFFFF;
}

.fontNavBar:active {
    color: #FFFFFF;
}

.fontNavBar:link {
    color: #FFFFFF;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.moveNavBar {
    display: flex;
    align-items: flex-end;
}

/* End of NavBar */

/* Head Image */
.headImage {
    background-image: url(../assets/header.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    height: 500px;
    /* padding: 8%; */
}

.headBox {
    background-color: #000324;
    opacity: 0.8;
    /* Width of box */
    /* margin-left: 20%;
    margin-right: 20%; */

    /* Padding of text inside */
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right: 15%;


}

.headTitle {
    font-family: Dosis;
    font-size: 45px;
    color: #E5FEFF;
    opacity: 1;
    text-align: center;


}

.headText {
    font-family: Source Sans Pro;
    font-size: 16px;
    color: #E5FEFF;
    opacity: 1;
    text-align: center;

}

/* End of Head Image */

/* Start of Hammy's Paradise */
.hammysPic {
    height: 460px;
    width: 369px;
    object-fit: cover;
}

.moveHammyPic {
    display: flex;
    justify-content: flex-end;
}

.hammyTitle {
    color: #1A1B26;
    font-size: 35px;
    text-align: left;
}

.hammyText {
    color: #1A1B26;
    font-size: 16px;
    text-align: left;
}

/* End of Hammy's Paradise */

/* Start Hammy's Rooms Image */

.bgRooms {
    background-image: url(../assets/bg2.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 2%;
    padding-bottom: 7%;
    padding-left: 6.5%;
    padding-right: 6.5%;
}

.roomTitle {
    color: #FFFFFF;
    font-size: 35px;
    font-family: Dosis;
    text-align: center;
}

#leftCard {
    display: flex;
    justify-content: center;
}

#middleCard {
    display: flex;
    justify-content: center;
}

#rightCard {
    display: flex;
    justify-content: center;
}

.hammyRoomSize {
    font-family: Source Sans Pro-Bold;
    font-size: 16px;
}

.hammyRoomTitle {
    font-family: Dosis;
    font-size: 25px;
    color: #1A1B26;
}

.marginSpacing {
    margin-bottom: 20px;
}

.listIndent {
    /* padding-left: px; */
    margin-left: -15px;
    /* text-indent: 0px;
    list-style-position: inside; */
}

.buttonMarginTop {
    margin-top: 110px;
}

.bgBorder {
    border-radius: 0px;
    border: none;
}

.buttonText {
    font-family: Source San Pro-Bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 150px;
    height: 50px;

}

/* End of Hammy's Rooms */

/* Start of Packages */
.weddingPackage {
    object-position: top;
}

.packagePic {
    width: 100%;
    height: 234px;
    object-fit: cover;
}

.packageTitle {
    color: #1A1B26;
    font-family: Dosis;
    font-size: 35px;
    text-align: center;
}

.packageType {
    color: #1A1B26;
    font-family: Dosis;
    font-size: 25px;
}

.startingPrice{
    color:#1F51A8;
    font-family: Source Sans Pro;
    font-size: 16px;
}

.packageText{
    color: #1A1B26;
    font-family: Source Sans Pro;
    font-size: 16px;
}

/* End of Packages */

/* Start of Amenities */

.bgAmenities {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 5%;
    padding-bottom: 7%;
    padding-left: 6.5%;
    padding-right: 6.5%;
}

/* End of Amenities */

/* Start of Reserve a Room */
.bgReserve {
    background-image: url(../assets/hamsterreserve.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 6.5%;
    padding-right: 6.5%;
}

.bgBoxColor{
    background-color: #000324;
}

.reserveTitle{
    color: #FFFFFF;
    font-size: 35px;
    font-family: Dosis;
    text-align: center;
}
/* End of Reserve a Room */

/* Start of Footer */
.bgFooter{
    background-color: #000324;
}
.amenHead{
    text-align: center;
    color: #FFFFFF;
    font-size: 35px;
    font-family: Dosis;
}

.amenHeadText{
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Source Sans Pro;
}

.amenCenter{
    text-align: center;
}
.amenText{
    color: #FFFFFF;
}

.amenMove{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

/* End of Footer */